#dagr-contents-container h6 {
    font-size: 75%;
    margin-top: -3px;
    margin-bottom: 0px;
}

#dagr-contents-container img {
    height:60px;
    
}

#dagr-contents-container a {
    color:inherit; 
}

#dagr-contents-container span.pull-left {
    margin-right:10px;
}

#dagr-contents-container .btn-group{
    top:2em;
    margin-left: auto;
    margin-right: auto;
}

#dagr-contents-container .btn-default {
    border: 0px;
    color: #AAA;
    opacity: 0;
}


#dagr-contents-container .media-body {
    display:inline-block;
    width: 75%;
    max-height: 85px;
    
    text-overflow:clip;
}

#dagr-contents-container .media-body h1 {
    margin-top: 10px;
}

#dagr-contents-container .list-group-item {
    margin-top: 5px;
    height: 85px;
}

#dagr-contents-container .media.list-group-item:hover .btn-default {
    opacity: 1;
}

#dagr-contents-container .media.list-group-item:hover .btn-default:hover {
    color:#333;
    background-color:inherit;
}

#dagr-metadata {
    position:fixed;
}

#metadata-container {
    padding: 10px;
    max-width: 200px;
}

#location-metadata {
    overflow-wrap: break-word;

}



div.form-group div,label {
    margin-top:10px;
}


